.Drink-description {
  max-width: 400px;
  border: 1px solid #4D5057;
  text-align: left;
  grid-area: info;
}


.Drink-description .Img-wrapper img {
  width: 398px;
  height: 400px;
  overflow: hidden;
}

.Drink-description .Description-text {
  padding: 10px 10px;
}


.Drink-description .Title {
  margin-bottom: 10px;
  font-family: 'Signika', sans-serif;
  font-size: calc(16px + 0.6vw);
  color: #E37500;
  font-weight: 500;
}

.Drink-description .Text {
  font-size: calc(12px + 0.3vw);
  color: #4D5057;
}

