.Category-filter {
  max-width: 35%;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: calc(12px + 0.3vw);
  color: #4D5057;
}


.Category-filter label {
  margin-bottom: 10px;
}

.Category-filter select {
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  font-size: calc(12px + 0.3vw);
  color: #4D5057;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .Category-filter {
    max-width: 80%;
    margin-left: 0;
    margin-top: 15px;
  }
}

