.Drink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "img description"
    "img ingredients";
    gap: 10px 20px;
  grid-area: info;
}

@media only screen and (max-width: 768px) {
  .Drink {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "description"
    "ingredients";
  }
}
