
.Drink-search-form {
  width: 100%;
  text-align: center;
}

.Drink-search-form input {
  width: 400px;
  max-width: 60vw;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #119693;
  outline: none;
  margin-right: 15px;
  padding: 12px 20px;
  font-size: calc(12px + 0.6vw);
}

.Drink-search-form button {
  background-color: #119693;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(12px + 0.8vw);
  font-family: 'Salsa', cursive;
  cursor: pointer;
}

.Drink-search-form button:hover {
  background-color: #13aeac;
  color: #ffffffe6;
}

