.Ingredient-filter {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: calc(12px + 0.3vw);
  color: #4D5057;
}

.Ingredient-filter label {
  margin-bottom: 10px;
}

.Ingredient-filter input {
  max-width: 100%;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  font-size: calc(12px + 0.3vw);
  color: #4D5057;
}

@media only screen and (max-width: 768px) {
  .Ingredient-filter {
    max-width: 80%;
  }
}

