* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  background: linear-gradient(152.64deg, #FFFFFF 0%, #FF9595 53.12%, #7141FB 100%);
}

.App-header {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF7474;
  text-align: center;
  color: #FFD0D0;
  font-family: 'Bad Script', cursive;
  font-size: calc(26px + 4vw);
}

@media only screen and (max-width: 768px) {
  .App-header {
    min-height: 130px;
  }
}

