.Drink-list-element {
  display: flex;
  border-bottom: 1px solid #4D5057;
  padding: 10px 15px;
  text-align: left;
  cursor: pointer;
}

.Drink-list-element.active {
  background-color: #FFE1C0;
}

.Drink-list-element:hover {
  background-color: #fff5eb;
}

.Drink-list-element img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.Drink-list-element .Element-info {
  margin-left: 20px;
}

.Drink-list-element .Drink-name {
  font-family: 'Signika', sans-serif;
  font-size: calc(14px + 0.4vw);
  color: #E37500;
  font-weight: 500;
}

.Drink-list-element .Date-modified {
  font-size: calc(12px + 0.3vw);
  color: #4D5057;
}


